<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icon Viewer</title>
    <link rel="stylesheet" href="./styles.css" type="text/css">
</head>
<body>
    <span id='github-star'>
        <iframe src="https://ghbtns.com/github-btn.html?user=risha700&repo=vue-cli-plugin-any-svgicon&type=star&count=false&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
    </span>
    <section class="hero">
        <h3 class="hero-title">Vue Icons Preview</h3>
        <input type="search" placeholder="Loading icons..." id="search-input" autofocus>
    </section>
    <div id="results-container" class="icons-container" style="background-color: #D8C3B1;"></div>

    <script>

        let search_results = []
        let results_container = document.getElementById('results-container')
        let search_input = document.getElementById('search-input')
        const SearchFilter= <%- include('./search.js') %>;
        
        function createIconContainer(){
            icon_container = document.createElement('div')
            icon_container.setAttribute('class', 'icons-container')
            document.body.appendChild(icon_container)
            return icon_container
        }

        function createIconMarkup(icon, container){
            let icon_wrapper = document.createElement('div')
            icon_wrapper.setAttribute('class', 'icon-wrapper')
            let icon_name = document.createElement('span')
            let icon_obj= document.createElement('img')
            icon_name.innerHTML = icon.name
            icon_obj.setAttribute('src', icon.static_url)
            icon_wrapper.appendChild(icon_name)
            icon_wrapper.appendChild(icon_obj)
            // icon_obj.addEventListener('load',()=>{forceStylingObjSvg(icon_obj)})
            container.appendChild(icon_wrapper)

        }
        const forceStylingObjSvg = (svg)=>{
            // refrain from html objects for performance
            svg.contentDocument.firstElementChild.setAttribute('fill','#B68E6D')
        }

        (async function(){

            let data = await fetch('icons')
            let {icons} = await data.json()

            search_input.setAttribute('placeholder', `Search ${icons.length} icons...`)

            let container = createIconContainer()
            icons.map((icon) => {createIconMarkup(icon, container)});
            new SearchFilter(icons, search_input, results_container).init()



        })();



      </script>
</body>
</html>